:root {
--white: rgb(248, 255, 181);
--blue: rgb(153, 227, 253);
--pink: rgb(255, 157, 247);
}

@font-face {
font-family: 'IntelOne Display';
src: url('assets/intelone-display-regular.woff2') format('woff2');
font-weight: 300;
font-style: normal;
}

body {
background-color: #111;
font-family: 'Raleway', sans-serif;
color: #fff;
display: fixed;
justify-content: center;
align-items: center;
text-align: center;
min-height: 100vh;
background: url(assets/wall.png) no-repeat center center fixed;
background-size: cover;
margin: 0;
border-radius: 20px;
}

.square {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn,
.btn1,
.btn2,
.btn3 {
font-family: 'Raleway', sans-serif;
background-color: #6784F2;
color: white;
padding: 0;
border: none;
border-radius: 50%;
width: 3.2em;
height: 3.2em;
transition: transform 0.15s ease-out;
box-sizing: border-box;
margin:  3.6vw;
justify-content: center;
align-items: center;
text-align: center;
}

.btn img, .btn1 img, .btn2 img, .btn3 img {
  width: 24px;
}

.btn:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover {
transform: scale(1.1);
}

#time {
font-family: 'IntelOne Display', sans-serif;
position: absolute;   
top: 30px;    
left: 30px;  
color: white;
font-size: 2.5rem;  
text-align: center; 
}